<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.bt.test"
    versionCode = "1"
    version     = "0.25" >


  <name>Bluetooth Test</name>

  <!--Plugin to support gathering of bluetooth data-->
  <plugin name="cordova-plugin-bluetooth-serial"/>
  <gap:plugin name="cordova-plugin-bluetooth-serial" source="npm" />
  <plugin name="cordova-plugin-whitelist" version="1" />

  <author href="symonhambrey.worcestercomputing.com" email="symonhambrey@gmail.com">
    Spherical Systems
  </author>


</widget>
